@model List<Briar.Models.Category>
<script type="text/javascript">
        var categoriesJson = @Html.ToJson(Model);               
</script>
<script id="categoryTemplate" type="text/x-jquery-tmpl">
    <li>
        <strong data-bind="text: Title"></strong>
        <input type="hidden" data-bind="value: Title, attr: { name: 'Categories[' + ko.utils.arrayIndexOf(categoryViewModel.categories, $data) + '].Title' }"  />
        <input type="hidden" data-bind="value: ObjectId, attr: { name: 'Categories[' + ko.utils.arrayIndexOf(categoryViewModel.categories, $data) + '].Id' }" />        
        <a data-bind="click: remove" data-action="delete" class="rm"><img src="/images/bullet_delete.png" alt="@Display.Delete" title="@Display.Delete" /></a>
    </li>
</script>
<ul data-type="categories" data-bind="template: {name:'categoryTemplate', foreach: categories}">    
</ul>
<input type="text" data-value="category" />&nbsp;
<button data-bind="click: addCategory">@Display.AddCategory</button>