*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: baseline;
    text-decoration: none;
    text-align: left;
	color: #000;
}

body {
	background: #000;
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #444;
	min-height: 768px;
}

* {
	margin:0;
	padding:0;
}

code {
	color:#555;
	display: inline;
	
}

p {
	line-height: 2.1em;
	margin-bottom: 8px;
}

pre, code {
	
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}

a {
	color: #036;
}

a:hover {
	color: #147BB3;
}

a:focus {
	outline: none;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-variant: normal;
  color: #999;
  margin: 0.96em 0;
}

h2 {
  font-size: 1.5em;
  color: #222;
  margin: 0.96em 0;
}

h3 {
	color: #147BB3;
    font-size: 1.25em;
    margin: 0.96em 0;
}

h4 {
  font-size: 1.125em;
  font-variant: normal;
  color: #999;
  margin: 0.96em 0;
}

h5 {
  font-size: 0.875em;
  color: #999;
  margin: 0.96em 0;
}

h6 {
  font-size: 0.813em;
  margin: 0.96em 0;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 10px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}


#container {
	width: 960px;
	margin:0 auto;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .975em;
}

header {
	padding: 0;
	margin: 0 auto;
	height: 108px;
	width: 960px;
}

header h1  {
	padding-top: 15px;
	padding-left: 15px;
}

header h1 a {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 60px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -3px;
	float: left;
}

header h2 {
	color: #147BB3;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-left: 12px;
	margin-top: 40px;
	padding-left: 4px;
	text-transform: uppercase;
	letter-spacing: 0;
}

nav {
	height: 40px;
	width: 960px;
	border-radius: 13px 13px 13px 13px;
	border: 2px solid #111111;
	margin: 0 auto;
}

nav {
	background-image: linear-gradient(top, rgb(66,66,66) 31%, rgb(0,0,0) 66%);
	background-image: -o-linear-gradient(top, rgb(66,66,66) 31%, rgb(0,0,0) 66%);
	background-image: -moz-linear-gradient(top, rgb(66,66,66) 31%, rgb(0,0,0) 66%);
	background-image: -webkit-linear-gradient(top, rgb(66,66,66) 31%, rgb(0,0,0) 66%);
	background-image: -ms-linear-gradient(top, rgb(66,66,66) 31%, rgb(0,0,0) 66%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(66,66,66)),
		color-stop(0.66, rgb(0,0,0))
	);
	
	box-shadow: 10px 10px 10px #161617;
}

nav ul {
	list-style: none;
	padding: 0 10px;
	margin: 0;
	height: 40px;
}

nav ul li {
	float: left;
	display: block;
	padding:0;
}

nav ul li a {
	color: #c0c0c0;
	display: block;
	font-size: 10px;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover {	
	color: #fff;
}

nav ul li a:hover {
	background-image: linear-gradient(top, rgb(87,87,87) 31%, rgb(13,13,13) 66%);
	background-image: -o-linear-gradient(top, rgb(87,87,87) 31%, rgb(13,13,13) 66%);
	background-image: -moz-linear-gradient(top, rgb(87,87,87) 31%, rgb(13,13,13) 66%);
	background-image: -webkit-linear-gradient(top, rgb(87,87,87) 31%, rgb(13,13,13) 66%);
	background-image: -ms-linear-gradient(top, rgb(87,87,87) 31%, rgb(13,13,13) 66%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(87,87,87)),
		color-stop(0.66, rgb(13,13,13))
	);
}

.transition {
	margin-top: 45px;
	border-top: 1px solid #999999;
}

.transition {
	background-image: linear-gradient(top, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -o-linear-gradient(top, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -moz-linear-gradient(top, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -webkit-linear-gradient(top, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -ms-linear-gradient(top, rgb(14,29,48) 9%, rgb(0,0,0) 66%);

	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0.09, rgb(14,29,48)),
		color-stop(0.66, rgb(0,0,0))
	);
}

#wrapper {
	margin:0 auto;
	padding: 0 0 0 15px;
	width: 970px;
	display: table;
	position:relative;
	background: #fff;
	position: relative;
	top: -25px;	    
}

#wrapper 
{
    border-radius: 5px;
	box-shadow: 5px 5px 5px #161617;
}

section, aside {
	display: table-cell;
    min-height: 768px;
}

#content {	
	width: 620px;
	margin: 0;
	padding: 50px 15px;
}

aside {
	width: 280px;
	padding: 1px;
	padding-top: 35px;	
}

aside section {
	display: block;
	margin-bottom: 25px;
	padding: 0 7px;
}

aside h4 {
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing: 0;
	text-transform: uppercase;
	padding: 8px;
	font-weight: bold;
	margin: 10px;
}

aside ul li a {
	font-weight: normal;
	color: #555;
	-webkit-transition: all 0.3s ease-out;
}

aside ul li a:hover {
	color: #147BB3;
}

.clear {
	clear: both;
}

footer {
	background-color: #010101;
	margin: 0 auto;
	padding: 10px 0 50px;
}

footer {
	background-image: linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -o-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -moz-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -webkit-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -ms-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		right top,
		color-stop(0.09, rgb(14,29,48)),
		color-stop(0.66, rgb(0,0,0))
	);
}

footer p {
	text-align: left;
	color: #fff;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	display: block;
	padding: 0;
	width: 960px;
}

footer p a {
	color: #fff;
	font-weight: bold;
}

/* articles */
article {
	margin: 0 0 35px 0;
}

article header {
	height: auto;
	width: auto;
	margin-bottom: 15px;
}
article h2 {
	color: #147BB3;
	font-size: 26px;
	letter-spacing: 0.5px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	text-transform: none;
	float:none;
}

article h2  a {
	text-decoration: none;
	color: #147BB3;
}

article footer {
	background: none;
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
	font-size: 0.925em;
}

article footer  ul, article footer  ul  li {
	list-style: none;
	display: inline-block;
	margin:0;
	padding: 0 5px 0 0;
}

article footer  ul {
	margin-left: 5px;
}

article footer  ul  li  a{
	text-decoration: none;
}

article footer  ul  li a:after
{
    content: ', ';
}

article footer  ul  li:last-child a:after
{
    content: '';
}

article .readmore{
	float:right;
}

/* forms */
.content-box{
	border: 1px solid #eee;
	padding: 10px 1;
	background: #fff;
	margin: 10px 0;
}

.content-box{
	border-radius: 5px;
	box-shadow: 10px 10px 5px #666;
}

.content-box h2 {
	color: #fff;
	border: 1px solid #eee;
}

.content-box h2 {
	background-image: linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -o-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -moz-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -webkit-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);
	background-image: -ms-linear-gradient(bottom, rgb(14,29,48) 9%, rgb(0,0,0) 66%);

	background-image: -webkit-gradient(
		linear,
		right bottom,
		right top,
		color-stop(0.09, rgb(14,29,48)),
		color-stop(0.66, rgb(0,0,0))
	);
	
	padding: 14px;
	margin: 0;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.content-box .inner {
	padding: 10px 15px;
}

form fieldset
{
    border: none;
}

form legend 
{
	font-size: 1.5em;
	padding: 10px 0;
	display: block;
	width: 100%;
}

form legend:first-child:first-letter {
  font-size: 1.3em;
}

form legend:first-child:first-line {
  font-variant: small-caps;
  font-size: 1.1em;
}

form p {
	padding: 10px 0;
}

form span {
	color: #6A6969;
	font-size: 0.85em;
	margin-left: 5px;
	cursor: pointer;
	position:relative;	
}

form span p{
	padding: 10px;
	display: none;
	position:absolute;
	z-index: 100;	
	background-color: #EEE;
	border: 1px solid color: #6A6969;
	border-radius: 7px;
	top: -70px;
	width: 600px;
}

form span:hover p{
	display: block;
	box-shadow: 10px 10px 5px #888;
}

form ol, form ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

form ol li, form ul li
{
    clear: both;
    display: block;
    margin: 0px;
    list-style: none;
}

form label
{
    font-weight: bold;	
}

input, select, textarea, button
{
    margin: 5px 0;
    padding: 7px 6px;    
    border-width: 1px;
    border-style: solid;
	border-color: #036 #EBEBEB #EBEBEB #036; 
	border-radius: 5px;   
    display: block;
    clear: both;		
}

input[type='text'], input[type='password'], input[type='file'], textarea
{
	width: 79%;
}

form input[type=checkbox], form input[type=radio]
{
    display: inline;
    margin-left: 10px;
}

form input[type=checkbox] + label, form input[type=radio] + label
{
	font-weight: normal;
}

form ul li ul
{
    margin: 15px 0;
}

form ul li ul li
{
    display: inline-block;
    margin-left: 15px;
    background: #eee;
    padding: 5px;
    border: 1px solid #E7ECF1;
}

form ul li ul li
{
    border-radius: 3px;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

input.small
{
    display: inline-block;
    width: 225px !important;    
}

input.small+button
{
    display: inline-block;
}

/* tables */
table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

thead th {
	text-shadow: 1px 1px 1px #EEE;
	background-color: #FFF;
	border-top: 5px double #2C902B;
	border-bottom: 5px double #2C902B;
	padding: 12px 10px;
	color: #2C902B;
	text-align: left;
	letter-spacing: 0.1em;
	white-space: nowrap;
	font-variant: small-caps;
	text-align: center;
}

tbody th,tbody td {
	border-bottom: 1px solid #ccc;
	padding: 2px 10px;
	text-align: left;
	vertical-align: middle;
}

tbody tr:hover, tr.even:hover{
	background: #D4FFD4;
}

tbody tr.even {
	background: #f2f2f2;
}

/* boxes */

.box p {
	margin: 10px;
	color: #aaa;
	outline: none;
}

.box{
	margin: 5px 5px 15px 10px;
	width: 100%;
	min-height: 150px;
	padding: 0 0 1px 0;
	position:relative;
	background: #f3f3f3;
	background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
	background: -moz-linear-gradient(0 0 270deg, #f3f3f3, #f3f3f3 10%, #fff);
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-border-bottom-right-radius: 60px 60px;
	-moz-border-radius-bottomright: 60px 60px;
	border-bottom-right-radius: 60px 60px;
	-webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}
.box:before{
	content:'';
	width: 25px;
	height: 20px;
	position: absolute;
	bottom:0;
	right:0;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	border-bottom-right-radius: 30px;
	-webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
	box-shadow:-2px -2px 5px rgba(0, 0, 0, 0.3);
	-webkit-transform:	rotate(-20deg)
						skew(-40deg,-3deg)
						translate(-13px,-13px);
	-moz-transform:	rotate(-20deg)
					skew(-40deg,-3deg)
					translate(-13px,-13px);
	-o-transform:	rotate(-20deg)
					skew(-40deg,-3deg)
					translate(-13px,-13px);
					transform:
					rotate(-20deg)
					skew(-40deg,-3deg)
					translate(-13px,-13px);
}

/* Here's where we make the shading of the folds*/
.box:after{
	content: '';
	z-index: -1;
	width: 100px;
	height: 100px;
	position:absolute;
	bottom:0;
	right:0;
	background: rgba(0, 0, 0, 0.2);
	display: inline-block;
	-webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 20px 20px 18px rgba(0, 0, 0, 0.2);
	box-shadow: 20px 20px 8px rgba()0,0,0,0.2;
	-webkit-transform: rotate(0deg)
						translate(-45px,-20px)
					   	skew(20deg);
	-moz-transform: rotate(0deg)
					translate(-45px,-20px)
					   skew(20deg);
	-o-transform: rotate(0deg)
					translate(-45px,-20px)
					   skew(20deg);
	transform: rotate(0deg)
				translate(-45px,-20px)
				skew(20deg);
}

/* syntax highligter */
.syntaxhighlighter table td.code .line {	
	max-width: 100px !important;
}
.syntaxhighlighter {
	overflow-y: hidden !important;
}

/* misc */
.rm
{
    display: inline-block;
    vertical-align: bottom;
    height: 16px;
    cursor: pointer;
}

/* tintmce */
.mceContentBody
{
    background: #fff;
    padding: 15px;
    font-size: 10px;
}

.defaultSkin table.mceLayout
{
    border-radius: 5px;
}

/* gritter */
#gritter-notice-wrapper {
	position:fixed;
	top:20px;
	right:20px;
	width:301px;
	z-index:9999;
	color: #fff;
}
#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}
#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
.gritter-item-wrapper {
	position:relative;
	margin:0 0 10px 0;
	background:url('../Images/ie-spacer.gif'); /* ie7/8 fix */ 
}
.gritter-top {
	background:url(../Images/gritter.png) no-repeat left -30px;
	height:10px;
}
.hover .gritter-top {
	background-position:right -30px;
}
.gritter-bottom {
	background:url(../Images/gritter.png) no-repeat left bottom;
	height:8px;
	margin:0;
}
.hover .gritter-bottom {
	background-position: bottom right;
}
.gritter-item {
	display:block;
	background:url(../Images/gritter.png) no-repeat left -40px;
	color:#eee;
	padding:2px 11px 8px 11px;
	font-size: 11px;
	font-family:verdana;
}
.hover .gritter-item {
	background-position:right -40px;
}
.gritter-item p {
	padding:0;
	margin:0;
}
.gritter-close {
	display:none;
	position:absolute;
	top:5px;
	left:3px;
	background:url(../Images/gritter.png) no-repeat left top;
	cursor:pointer;
	width:30px;
	height:30px;
}
.gritter-title {
	font-size:14px;
	font-weight:bold;
	padding:0 0 7px 0;
	display:block;
	text-shadow:1px 1px #000; /* Not supported by IE :( */
}
.gritter-image {
	width:48px;
	height:48px;
	float:left;
}
.gritter-with-image,
.gritter-without-image {
	padding:0 0 5px 0;
}
.gritter-with-image {
	width:220px;
	float:right;
}
